<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Radio {{.Name}}</title>
    {{ template "tmpl/meta.tmpl" }}
    {{ template "tmpl/favicon.tmpl" }}
    {{ template "tmpl/style.tmpl" }}
    <!-- API scripts -->
    <script async src = "https://www.youtube.com/iframe_api"></script>
</head>

<body>
    <div class = "mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {{ template "tmpl/header.tmpl" }}

        <main class = "mdl-layout__content">
            <div class = "mdl-grid mdl-grid--no-spacing main-area">
                <div class = "mdl-cell panel left-panel">
                    <ul class = "mdl-list" id = "playlist"></ul>
                </div>
                <div class = "mdl-cell panel right-panel">
                    <ul class = "mdl-list" id = "chat-message-list"></ul>
                    <form id = "chatInputForm" action = "javascript:chatInput(chatInput.value)">
                        <div class = "mdl-textfield mdl-js-textfield">
                            <input class = "mdl-textfield__input" type = "text" id = "chatInput">
                            <label class = "mdl-textfield__label" for = "chatInput">Chat...</label>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <!-- needed for streaming from YouTube -->
        <div class = "videoPlayer"></div>

        <footer class = "mdl-mini-footer mdl-color--grey-100 mdl-color-text--grey-600 radio-footer is-casting-shadow">
            <div id = "progressBar" class = "song-progress-bar mdl-color--blue-300"></div>
            <div id = "progressBarTooltip" class = "mdl-tooltip" data-mdl-for = "progressBar">0:00</div>
            <p class = "volume-controls-wrapper">
                <label class = "mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for = "volumeMuteToggle">
                    <input type = "checkbox" class = "mdl-icon-toggle__input" id = "volumeMuteToggle"/>
                    <i class = "mdl-icon-toggle__label material-icons" id = "volumeIcon">volume_up</i>
                </label>
                <input type = "range"
                       class = "mdl-slider mdl-js-slider"
                       id = "volumeSlider"
                       min = "0"
                       max = "100"
                       step = "2"
                       value = "50"/>
                <span id = "volumeSliderTooltip" class = "mdl-tooltip" data-mdl-for = "volumeSlider">50%</span>
            </p>
        </footer>
    </div>

    <!-- functionality -->
    <script src = "/station/layoutHelpers.js"></script>
    <script src = "/station/stream.js"></script>
    <script src = "/station/youtube.js"></script>
    <script src = "/station/main.js"></script>
</body>
</html>
